.button {
  align-items: center;
  background: lightgray;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  font-size: 2rem;
  justify-content: center;
  height: 100%;
  user-select: none;
  width: 100%;
}

.button:active {
  background: green;
}